<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Tracks</display-name>
    <servlet-name>Tracks</servlet-name>
    <servlet-class>controlador.Tracks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tracks</servlet-name>
    <url-pattern>/Tracks</url-pattern>
  </servlet-mapping>
  <display-name>FullFader</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Usuarios</display-name>
    <servlet-name>Usuarios</servlet-name>
    <servlet-class>controlador.Usuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuarios</servlet-name>
    <url-pattern>/Usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verificar</display-name>
    <servlet-name>Verificar</servlet-name>
    <servlet-class>controlador.Verificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verificar</servlet-name>
    <url-pattern>/Verificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarTracks</display-name>
    <servlet-name>ModificarTracks</servlet-name>
    <servlet-class>controlador.ModificarTracks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarTracks</servlet-name>
    <url-pattern>/ModificarTracks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarTracks</display-name>
    <servlet-name>ActualizarTracks</servlet-name>
    <servlet-class>controlador.ActualizarTracks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarTracks</servlet-name>
    <url-pattern>/ActualizarTracks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarUsuarios</display-name>
    <servlet-name>ModificarUsuarios</servlet-name>
    <servlet-class>controlador.ModificarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarUsuarios</servlet-name>
    <url-pattern>/ModificarUsuarios</url-pattern>
  </servlet-mapping>
</web-app>